/* body{
    background: black;
} */

.navabr-logo {
    width: 130px;
    object-fit: contain;
}

.navbar-searchbar {
    width: 460px;
    margin: 12px 0 0 208px;
    border-radius: 35px;
}

.navbar-brand {
    margin: -4px 20px 0 10px;

}

.mic {
    background: transparent;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin: 10px 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    background: lightseagreen;
    height: 40px;
    width: 40px;
    margin: 3px 12px 0;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.camera , .bell{
    margin: 10px 12px 0;

}

.parent{
    display: flex;
    width: 100%;
}

.icon-container{
    padding: 0;
    margin: 20px 10px;

}

.icon{
    width: 30px;
    height: 30px;
}

.side-icons{
    list-style: none;
    margin: 39px 0;

}

.h11{
    font-size: 40px;
    text-align: start;
}

.right{
    margin: 44px 68px;

}

.connt-mar{
    margin: 45px 135px;
}

.parent2{
    margin: 0 0px;

}

.card-img-top{
    
    height: 225px;
    width: 100%;
}
.col-md-4{
width: 375px       
 ;}
.hjka{
 margin: 0 0 0px 109px;
}

.card{
border:none ;
}